div.card-body{
    width: 300px;
}
.projectButton{
margin-bottom: 10px;
}

.card {
    max-width: fit-content;
    justify-content:center;
    float: right;
}
.form {
    margin-left: 300px;
    max-width: fit-content;
}
.div {
    margin-left: 300px;
}