.bigFlex{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

body {
    color: white;
    background-color: #272727;
}
.taskButton{
    margin-bottom: 10px;
}

.marginLeft {
    margin-left: 20px;
}
.marginRight{
    margin-right: 20px;
}