.bigFlex{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

body {
    color: #747474;
    background-color: #272727;
}

.marginLeft {
    margin-left: 20px;
}
.marginRight{
    margin-right: 20px;
}