
.wrapper {
    position: fixed;
    overflow: auto;
    display: flex;

  }
  .taskItem{
    margin: 100%;
  }
  a.link {
    text-decoration: none
  }
  .sidebar {
    background-color: #272727;
    color: white;
  }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: green;

  }
  .nav-pills .nav-link {
    border-radius: .5rem;
}
.nav-pills .nav-link {
    border-radius: .0rem;
}
.nav-tabs .nav-link {
     border: none;
     border-top-left-radius: .0rem;
     border-top-right-radius: .0rem;
}
  .nav {
    margin-left: auto;

  }
  .row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: -15px;
    background-color: #272727;
   margin-right: -15px;

}
.nav-tabs .nav-item {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 5px;
}