
.wrapper {
    position: fixed;
    overflow: auto;
  }
  .sidebar {
    background-color: black;
    color: white;
  }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: green;
  }
  .nav-pills .nav-link {
    border-radius: .5rem;
}
.nav-pills .nav-link {
    border-radius: .0rem;
}
.nav-tabs .nav-link {
     border: none;
     border-top-left-radius: .0rem;
     border-top-right-radius: .0rem;
}
  .nav {
    margin-left: auto;

  }
  .row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: -15px;
   background-color: black;
   margin-right: -15px;
   width: 125px;
}
